

span.navbar {
    text-decoration: none;
    background-color: #232f3e;
    width: 100%;
    padding-right: 100%;
    height: 100%;
    padding-top: 100%;

}

ul.navbar {
    text-decoration: none;
    background-color: #232f3e;
    padding-top: 100%;

}

label.navbar {

}

img.logo {
    aspect-ratio: auto;
    display: inline-block;
    background-color: #232f3e;
    margin: 0.25rem 0.25rem 0.25rem 0.75rem;
}

#header {
    background-color: #232f3e;
    width: 100%;
    padding-top: 0.5rem;
    margin-left: -12px;
}