

span.navbar {
    background-color: #232f3e;
    width: 110%;
    margin-right: -48px;
    display: flex;
}

img.logo {
    aspect-ratio: auto;
    /*background-color: #232f3e;*/
    margin: 1rem 0.25rem 0.25rem 0.75rem;
    padding-right: 2rem;

    z-index: 1;
}

#searchBox {
    /*background-color: #232f3e;*/
    width: 75%;
    vertical-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

#searchButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #FEBD69FF;
    border: none;
}

.navbar-link-container {
    text-decoration: none;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-left: 1rem;
}
.navbar-link-container > a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 0.75rem;
    padding: 0.25rem 0.25rem;
}

.navbar-link-container > a:visited {
    color: whitesmoke;
}

.navbar-link-container > a:hover {
    color: #C46D18FF;
    text-decoration: underline;
}

.header-container {
    /*background-color: #232f3e;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-grow: 4;
    vertical-align: center;
    margin-top: -0.5rem;
    margin-left: -12px;
    padding-left: -24px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: #FCDFD5;
    background: linear-gradient(270deg,rgba(252, 223, 213, 1) 0%, rgba(159, 215, 251, 1) 100%);
    height: 100%;
    align-self: center;
    margin: auto;
    flex-grow: 1;
}

.content-card-container {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem;
    padding: .75rem;

}

.content-card-container > .card-image-four {
	margin: auto;
	display: flex;
}
td {
    padding: -1rem;
}

.content-card-container > .card-image-normal {
    display: flex;
    width: 75%;
    height: 75%;
}

.content-card-container > table > td > tr > .card-image-four {
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    max-width: inherit;

}

.card-image-four img {
    width: 100%;
    aspect-ratio: 1/1;
    height: 100%    ;
    object-fit: cover;
    overflow: hidden;
}

img {
    aspect-ratio: 1/1;
    overflow: hidden;
}

.card-image-four > .content-card-container {
    margin: .25rem;
}
.card-image-four > tbody > tr > td > .content-card-title {
    margin: 0
}
